<!DOCTYPE html>
<meta charset="utf-8">
<title><%= t.layout.title %></title>
<meta name="description" content="<%= t.layout.description %>">
<link rel="stylesheet" href="/style.css">

<h1><a href="/"><%= t.layout.title %></a></h1>

<section class="main">
	<%= yield %>
	<hr>
  <span class="donate">
    <a href="http://tiptheweb.org/tip/" class="ttw-button ttw-button-large"><%= t.layout.tip %></a>
	</span>
  <small><%= t.layout.legal %></small>
</section>

<section class="links">
  <ul>
    <li>
      <a href="<%= t.ads.ad1.url %>">
        <h3><%= t.ads.ad1.title %></h3>
        <p><%= t.ads.ad1.text %></p>
      </a>
    </li>
    <li>
      <a href="<%= t.ads.ad2.url %>">
        <h3><%= t.ads.ad2.title %></h3>
        <p><%= t.ads.ad2.text %></p>
      </a>
    </li>
    <li>
      <a href="<%= t.ads.ad3.url %>">
        <h3><%= t.ads.ad3.title %></h3>
        <p><%= t.ads.ad3.text %></p>
      </a>
    </li>
  </ul>
</section>

<script>
  var bookmarklet = document.getElementById('bookmarklet');
  if (bookmarklet) {
    bookmarklet.addEventListener('click', function(e) {
      alert('<%= t.home.bmhelp %>');
      e.preventDefault();
    }, false);  
  }
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27484836-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
  (function (window, document) {
      var ref = document.getElementsByTagName('script')[0],
          script = document.createElement('script'),
          secure = window.location.protocol === 'https:';
      script.async = true;
      script.src = secure ? 'https://secure-platform.tiptheweb.org/tip/button.js'
                          : 'http://platform.tiptheweb.org/tip/button.js';
      ref.parentNode.insertBefore(script, ref);
  }(this, this.document));
</script>
